.table {
    width: 60%; /* Define a largura da tabela (ajuste o valor conforme necessário) */
    margin: 0%; /* Centraliza a tabela */
    font-size: 14px; /* Diminui o tamanho do texto */
}

.table td, .table th {
    padding: 8px; /* Reduz o espaçamento interno das células */
}

.table mb-4{
    width: 10%;
}
